<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/output.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        html,
        body {
            height: 100%;
            width: 100%;
        }
    </style>
    <div class="container    w-full min-h-full px-6 text-white bg-[#020202]">
        <%-include("../partials/navbar.ejs") %>
        <div class="heromenu    flex space-x-40 ">
            <div class="socials flex flex-col    space-y-4 py-6 items-center justify-center">
                <a href="" class="  text-lg hover:bg-red-600 px-12 py-2 rounded-r-full"><i
                        class="fa-brands fa-linkedin"></i></a>
                <a href="" class="  text-lg hover:bg-red-600 px-12 py-2 rounded-r-full"><i
                        class="fa-brands fa-facebook"></i></a>
                <a href="" class="  text-lg hover:bg-red-600 px-12 py-2 rounded-r-full"><i
                        class="fa-brands fa-twitter"></i></a>
                <a href="" class="  text-lg hover:bg-red-600 px-12 py-2 rounded-r-full"><i
                        class="fa-brands fa-youtube"></i></a>
            </div>
            <div
                class="blogtitle    px-4 py-4 my-6   flex items-center justify-center text-4xl font-normal leading-relaxed">
                <%=blog.title %>
            </div>

        </div>
        <div class="author text-gray-500 font-medium px-2 py-4">
            By : <%=blog.author %>
        </div>

        <% if(currentUser && blog.author.equals(currentUser._id)){ %>
        <div class="edit px-2  "><a href="/blogs/<%=blog._id  %>/edit"><span class="underline">Edit the blog</span> <i
                    class="fa-solid fa-pen"></i></a></div>
        <div class="delete px-2 ">
            <form action="/blogs/<%=blog._id  %>?_method=DELETE" method="POST"><button><span
                        class="underline">Delete</span> <i class="fa fa-trash"></i></button></form>
        </div>
        <% } %>
        <div class="body text-lg font-normal px-16 py-6 leading-relaxed">
            <%=blog.body %>
        </div>
    </div>

    </div>
</body>

</html>